@keyframes rocket {
  from {
    left: 0;
    transform: rotate(45deg);
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

h2, h3, h4 {
  font-weight: normal;
}

header img {
  width: 100%;
}

.bandeau-menu {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  position: absolute;
  top: 0%;
}
.bandeau-menu .image-logo {
  width: 5%;
  position: absolute;
  left: 49%;
  top: 24%;
  animation-name: rocket;
  animation-duration: 2s;
}
.bandeau-menu .image-header {
  width: 5%;
  padding: 2% 1%;
  top: 2%;
  float: right;
}
.bandeau-menu .image-header:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#reasons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

.reason-details {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 1%;
  background-color: #e4e4e4;
  border-radius: 5px;
  width: 30%;
}
.reason-details:hover {
  box-shadow: 1px 1px 2px 1px #888888;
}
.reason-details .image-reason {
  text-align: center;
}
.reason-details .image-reason img {
  width: 60%;
}
.reason-details h2 {
  margin: auto;
}

#ready-moon {
  background-image: url(images/barre_grise.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  padding: 2% 10%;
  margin: 1% 0% 0% 0%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.ready-moon-article {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.ready-moon-article h2 {
  text-align: center;
  width: 100%;
}

#take-tour {
  width: 100%;
  display: flex;
  position: relative;
}

.take-tour-p {
  width: 50%;
  text-align: right;
  margin-top: 6%;
}
.take-tour-p button {
  border: 1px solid #00ccff;
  background-color: transparent;
  color: #00ccff;
  padding: 2%;
  font-size: large;
  position: absolute;
  left: 31%;
  z-index: 9;
}
.take-tour-p button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px #888888;
}

.take-tour-img {
  width: 50%;
}
.take-tour-img img {
  width: 49%;
  top: -62%;
  position: absolute;
}
.take-tour-img img:hover {
  transform: scale(1.2);
}

#explore-and-learn {
  display: flex;
  flex-direction: row;
  padding: 2% 10%;
  margin: 1% 0% 0% 0%;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
#explore-and-learn .aliens {
  width: 45%;
  text-align: center;
  margin-top: 4%;
}
#explore-and-learn .aliens img {
  width: 80%;
  align-content: center;
}
#explore-and-learn .aliens img:hover {
  transform: scale(1.2);
}
#explore-and-learn .explore {
  width: 55%;
  text-align: center;
  border: 1px solid black;
  padding: 2%;
}
#explore-and-learn .explore strong {
  color: #00ccff;
}

#contact {
  display: flex;
  flex-direction: row;
  padding: 2% 10%;
  margin: 1% 0% 0% 0%;
}

form {
  width: 39%;
  margin-top: 8%;
}
form .form-bg {
  background-color: #e4e4e4;
  padding: 5%;
  color: #777777;
}
form .form-bg label {
  line-height: 2em;
}

.submit-button {
  background-color: #737392;
  width: 30%;
  position: relative;
  left: 36%;
  margin-top: 2%;
  padding: 2%;
  border-radius: 10%;
  color: white;
}
.submit-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px #888888;
}

input, label, textarea {
  width: 100%;
  border: none;
}

#testimonials {
  display: flex;
  flex-direction: column;
  width: 53%;
  margin-right: 7%;
  padding-right: 2%;
}
#testimonials .testimonials-details {
  display: flex;
  flex-direction: row;
}
#testimonials .testimonials-details .image-article {
  width: 30%;
  text-align: center;
}
#testimonials .testimonials-details .image-article img {
  width: 62%;
}
#testimonials .testimonials-details .content-article {
  width: 70%;
}

#bottom-image {
  display: flex;
  align-items: baseline;
  width: 100%;
}
#bottom-image img {
  margin: 0;
  width: 100%;
}

footer {
  background-color: #737392;
  color: white;
  padding: 1%;
  text-align: center;
}
footer strong {
  color: black;
}

@media screen and (max-width: 1050px) {
  .take-tour-img img {
    top: -30%;
    left: 65%;
  }
}
@media screen and (max-width: 700px) {
  #reasons {
    flex-direction: column;
    justify-content: space-around;
  }
  #reasons .reason-details {
    width: 94%;
  }

  #ready-moon {
    flex-direction: column;
  }
  #ready-moon #take-tour {
    flex-direction: column-reverse;
    align-items: center;
  }
  #ready-moon #take-tour .take-tour-p {
    text-align: center;
  }
  #ready-moon #take-tour .take-tour-p button {
    top: 77%;
    left: 26%;
  }
  #ready-moon #take-tour .take-tour-img img {
    position: initial;
    width: 100%;
  }

  #explore-and-learn {
    flex-direction: column;
  }
  #explore-and-learn .aliens, #explore-and-learn .explore {
    width: 100%;
  }

  #contact {
    flex-direction: column;
  }
  #contact #testimonials {
    width: 100%;
  }
  #contact #testimonials .testimonials-details {
    flex-direction: column;
  }
  #contact #testimonials .testimonials-details .content-article {
    width: 100%;
  }
  #contact #testimonials .testimonials-details .image-article {
    width: 100%;
  }
  #contact form {
    width: 100%;
  }
}


